@model SchoolListViewModel
<div class="row my-2">
    <div class="col-md-6">
        <h1 class="display-6">
            @(Model.SourceAction=="Index" ? "Okullar" : "Silinmiş Okullar")
        </h1>
    </div>
    @if (Model.SourceAction=="Index")
    {
       <div class="col-md-6 d-flex align-items-center justify-content-end">
            <div class="col-md-6 d-flex align-items-center justify-content-end">
            <a asp-area="Admin"
              asp-controller="School"
              asp-action="Create"
               class="btn btn-primary">Yeni Okul</a>
        </div>
        </div>
    }
</div>

@if (Model.SchoolViewModelList.Count>0)
{
    <div class="card mb-4">
        <div class="card-body">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Son Değiştirilme Tarihi</th>
                        <th>Şehir</th>
                        <th>Ülke</th>
                        <th>İletişim</th>
                        <th>Aktif mi?</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var school in Model.SchoolViewModelList)
                    {
                        <tr>
                            <td>@school.Id</td>
                            <td>@school.Name</td>
                            <td>@school.CreatedDate.ToShortDateString()</td>
                            <td>@school.ModifiedDate.ToShortDateString()</td>
                            <td>@school.City</td>
                            <td>@school.Country</td>
                            <td>@school.Phone</td>
                            <td>
                                @if (Model.SourceAction=="Index")
                                {
                                    <form class="form-check"
                                         asp-area="Admin"
                                         asp-controller="School"
                                         asp-action="UpdateIsActive"
                                         asp-route-id="@school.Id"
                                          id="form-school-is-active-@school.Id">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   role="switch"
                                                   id="flexSwitchCheckChecked" @(school.IsActive ? "checked" : "")
                                                   onchange="document.getElementById(`form-school-is-active-@school.Id`).submit();">
                                        </div>

                                    </form>
                                }
                                else
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               role="switch"
                                               id="flexSwitchCheckChecked" @(school.IsActive ? "checked" : "" ) disabled>
                                    </div>
                                }

                            </td>

                            <td>
                                <!-- KALICI OLARAK SİLME BUTONU -->
                                   <a class="btn btn-danger btn-sm"
                                          asp-area="Admin"
                                          asp-controller="School"
                                          asp-action="Delete"
                                          asp-route-id="@school.Id">
                                     <i class="fa-solid fa-trash"></i>
                                   </a>
                                @if (Model.SourceAction=="Index")
                                {
                                    
                                
                                   <!-- SOFT SİLME BUTONU -->
                                   @await Html.PartialAsync("_SchoolDeletePartial",school)

                                    <!-- GÜNCELLEME BUTONU -->
                                    <a class="btn btn-info btn-sm"
                                         asp-area="Admin"
                                         asp-controller="School"
                                         asp-action="Edit"
                                         asp-route-id="@school.Id">
                                         <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-success btn-sm"
                                       asp-area="Admin"
                                       asp-controller="School"
                                       asp-action="SoftDelete"
                                       asp-route-id="@school.Id">
                                        <i class="fa-solid fa-arrow-rotate-left"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        Herhangi bir okul bilgisi yoktur.
    </div>
}

@section Css{
    @await Html.PartialAsync("_DataTablesStylesPartial")
}

@section Js{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}